body {
  width: fit-content;
  margin: 0px;
  padding: 0px;
}

#header {
    padding: 1vh;
}

body > * {
  padding: 0.8em;
}

hr {
  color: gray;
}

#calculate_btn {
  width: 100%;
}

.info {
  color: gray;
  font-size: 0.8em;
  vertical-align: sub;
}

.warning {
  color: orangered;
  font-size: 0.8em;
  vertical-align: sub;
}

.critical {
  color: red;
  font-size: 0.8em;
  vertical-align: sub;
}

#header {
  text-align: center;
  color: gray;
}
