#calculate_btn {
  width: 100%;
}

.info {
  color: gray;
  font-size: 0.8em;
  vertical-align: sub;
}

.critical {
  color: red;
  font-size: 0.8em;
  vertical-align: sub;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: gray;
}